<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>colorsID</key>
			<string>1001</string>
			<key>colorsName</key>
			<string>Classic</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x39CA73</string>
			<key>color_desc</key>
			<string>green</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x419AD7</string>
			<key>color_desc</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x985FB1</string>
			<key>color_desc</key>
			<string>purple</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0xEFC141</string>
			<key>color_desc</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0xCF5426</string>
			<key>color_desc</key>
			<string>orange</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0xC73533</string>
			<key>color_desc</key>
			<string>red</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>colorsID</key>
			<string>1002</string>
			<key>colorsName</key>
			<string>Dark</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x2A4021</string>
			<key>color_desc</key>
			<string>green</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x21444A</string>
			<key>color_desc</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x422D58</string>
			<key>color_desc</key>
			<string>purple</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0xB0893E</string>
			<key>color_desc</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x9B3928</string>
			<key>color_desc</key>
			<string>orange</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x8A1220</string>
			<key>color_desc</key>
			<string>red</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>colorsID</key>
			<string>1003</string>
			<key>colorsName</key>
			<string>Neon</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x45F740</string>
			<key>color_desc</key>
			<string>green</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x131FE2</string>
			<key>color_desc</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x6322EC</string>
			<key>color_desc</key>
			<string>purple</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0xF8AD3A</string>
			<key>color_desc</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0xEE3A26</string>
			<key>color_desc</key>
			<string>orange</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0xF20C22</string>
			<key>color_desc</key>
			<string>red</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>colorsID</key>
			<string>1004</string>
			<key>colorsName</key>
			<string>Pastel</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x89FD7A</string>
			<key>color_desc</key>
			<string>green</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x71F1F4</string>
			<key>color_desc</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0x9D54C6</string>
			<key>color_desc</key>
			<string>purple</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0xF9EF9D</string>
			<key>color_desc</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0xF2936F</string>
			<key>color_desc</key>
			<string>orange</string>
		</dict>
		<dict>
			<key>color_string</key>
			<string>0xF05B76</string>
			<key>color_desc</key>
			<string>red</string>
		</dict>
	</array>
</array>
</plist>
